/* CSS declarations go here */

.input-wrapper input {
    position: relative;
    margin-left: 80px;
    margin-right: 120px;
    background-color: rgba(210,180,140,1);
    font-family: 'sans-serif';
    font-size: 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    padding: 8px;

    border-radius: 8px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.input-wrapper input:hover {
    background-color: red;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

#stone-sound {
    display: none;
}
